/* body {
    background-image: url(https://www.hubspot.com/hs-fs/hubfs/media/comousarimagencomofondohtml.jpeg?width=893&height=600&name=comousarimagencomofondohtml.jpeg);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */